body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Jua";
  line-height: 1.5;
  background-color: rgb(189, 169, 224);
  color: white;
}

h1, h2 {
  text-align: center;
  color: rgb(67, 47, 79);
}

input {
    font-family: "Jua";
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px 10px 40px 10px;
  background-color: white;
}

.buscar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
  display: flex;
  width: 100%;
}

input {
  flex: 1;
  padding: 15px 10px;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  font-family: "Jua";
  font-size: 1rem;
  box-sizing: border-box;
  min-width: 0;
}

.li-container {
  background-color: white;
  width: 100%;
  color: rgb(47, 50, 79);
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
}

li p {
  margin: 0;
  padding: 15px;
  width: 100%;
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: #4b1965;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 10%;
  font-size: 1.2em;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: rgb(107, 32, 178);
}

.btn-add {
  padding: 0 1rem;
  border: none;
  color: white;
  font-family: "Jua";
  background-color: rebeccapurple;
  font-size: 1.4rem;
  outline: none;
  border-radius: 0px 10px 10px 0px;
  white-space: nowrap;
  flex-shrink: 0;
  height: auto;
  max-width: 100px; /* 💡 esto evita que el botón se expanda o empuje */
  box-sizing: border-box;
}

.btn-add:hover {
  cursor: pointer;
  background-color: rgb(87, 27, 197);
}

.vacio {
  color: rgb(47, 56, 79);
}


/* responsive aaaaaaa */ 
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    padding: 20px;
  }

   input {
    font-size: 1rem;
  }

  .btn-add {
    font-size: 1.2rem;
    border-radius: 0px 10px 10px 0px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }

  li p {
    width: 100%;
  }

  .btn-delete {
    width: 100%;
    border-radius: 0 0 10px 10px;
    margin-left: 0;
  }
}